* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: auto;
  color: white;
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
}

.term {
  margin-right: .5rem;
  color: #119690;
}

.toggle-planet {
  margin: 20px;
}

.nav {
  font-family: Century Gothic, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: rgba(50, 56, 62, 0.7);
  border-radius: .25rem !important;
  border: 1px solid #444;
  height: 70px;
  width: auto;
  font-weight: bold;
}

.nav ul {
  padding: 7px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.nav ul li {
  list-style-type: none;
  text-align: center;
  float: left;
  margin: 0px;
}

.nav ul li a {
  text-decoration: none;
  color: #d2d2d2;
  text-align: center;
  display: block;
  padding: 10px;
  margin: 0px;
}

.nav ul li a:hover {
  color: #ffd200;
}

.logo {
  margin: 4px 50px;
  padding: .5rem;
}

.logo h3 {
  position: relative;
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  letter-spacing: -3px;
  color: #00d3eb;
}

.logo h3:after {
  content: "StarDB";
  position: absolute;
  left: 0;
  top: -2px;
  color: #ffd200;
  mix-blend-mode: multipl;
  z-index: 10;
}

.person-details {
  background-color: rgba(50, 56, 62, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  border: 1px solid #444;
}

.person-details .person-image {
  width: 30%;
  height: 30%;
  border-radius: 5px;
}

.person-details .list-group-item {
  padding: .25rem;
  color: white;
  background-color: rgba(50, 56, 62, 0);
}

.card-body h4 {
  color: #ffd200;
}

.item-list {
  margin-bottom: 1rem;
}

.item-list .list-group-item {
  border: 1px solid #444;
  cursor: pointer;
  color: #ffd200;
}

.item-list .list-group-item:hover {
  background-color: #444;
}

.random-planet {
  background-color: rgba(50, 56, 62, 0.7);
  margin: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
}

.random-planet h4 {
  color: #ffd200;
}

.random-planet .planet-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 1rem;
}

.random-planet .list-group {
  margin: 1rem 0 0 1rem;
}

.random-planet .list-group-item {
  padding: .25rem;
  background-color: none;
  background-color: rgba(50, 56, 62, 0);
}

.random-planet .list-group-item .term {
  margin-right: .5rem;
}

@keyframes lds-double-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes lds-double-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-double-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes lds-double-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.lds-css {
  margin: 0 auto;
}

.lds-double-ring {
  position: relative;
  width: 77px !important;
  height: 77px !important;
  -webkit-transform: translate(-38.5px, -38.5px) scale(0.385) translate(38.5px, 38.5px);
  transform: translate(-38.5px, -38.5px) scale(0.385) translate(38.5px, 38.5px);
}

.lds-double-ring div {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #ffd200 transparent #ffd200 transparent;
  -webkit-animation: lds-double-ring 1.5s linear infinite;
  animation: lds-double-ring 1.5s linear infinite;
}

.lds-double-ring div:nth-child(2) {
  width: 140px;
  height: 140px;
  top: 30px;
  left: 30px;
  border-color: transparent #119690 transparent #119690;
  -webkit-animation: lds-double-ring_reverse 1.5s linear infinite;
  animation: lds-double-ring_reverse 1.5s linear infinite;
}

.error-indicator {
  text-align: center;
  width: 100%;
}

.error-indicator-title h1 {
  color: #ffd200;
  text-align: center;
}

.error-indicator-text h3 {
  text-align: center;
}

.error-indicator-icon {
  width: 80px;
  margin-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */