.nav 
    font-family: Century Gothic, Arial, Helvetica, sans-serif 
    font-size: 15px 
    color: #fff 
    margin-left:auto 
    margin-right:auto 
    background-color: #353539 
    height: 70px 
    width: auto 
    font-weight: bold 

    & ul  

        padding: 7px 
        margin-top: 10px 
        margin-right: auto 
        margin-bottom: 0px 
        margin-left: auto 

        & li  
            
            list-style-type: none 
            text-align: center 
            float: left 
            margin: 0px 
            
            & a 
                text-decoration: none 
                color: #d2d2d2 
                text-align: center 
                display: block 
                padding: 10px 
                margin: 0px 
                &:hover
                    color: #ffd200 

.logo 
    margin: 4px 50px 
    
    padding: .5rem
    & a
        font-size: 2rem
        color: #ffd200 
        &:hover 
            color: #00bc8c
